<% if resource.errors.any? %>
  <div id="error_explanation" class="mb-2">
    <div class="error-heading">
      This form contains <%= pluralize(resource.errors.count, "error") %>.
    </div>

    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
